.web {
  display: flex;
  flex: 1;
  align-items: center;
}

.web-option {
  font-size: 16px;
  margin-right: 20px;
  font-weight: 400;
}

.web-option a {
  text-decoration: none;
  color: #92E3A9;
  display: flex;
  align-items: center;
}

.option-icon {
  display:flex;
  align-items: center;
  margin-right: 4px;
}

.resume-btn {
  border: 1px solid #92E3A9;
  transition: ease-out .25s;
  padding: 10px;
  border-radius: 6px;
}

.resume-btn:hover {
  transition: ease-out .25s;
  background-color: rgb(57, 89, 66, 20);

}

