.footer {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  font-size: 12px;
}

.footer-icon {
  height:20px;
  font-size: 16px;
  padding: 4px 8px;
  margin-bottom: 8px;
  background-color: rgb(151, 151, 151, 0.3);
  border-radius: 12px;
  cursor: pointer;
}

.footer-name {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer a {
  color:black;
}

.footer a:hover {
  color: blue;
}
@media only screen and (max-width:720px) {
  .footer-icon {
    height:15px
  }
}
