.footer {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  font-size: 12px;
  color: #92E3A9;
}

.footer-icon {
  height:20px;
  font-size: 16px;
  padding: 4px 8px;
  margin-bottom: 8px;
  background-color: rgb(204,214,246, 0.4);
  border-radius: 12px;
  cursor: pointer;
}

.footer-name {
  font-size: 14px;
  margin-bottom: 5px;
  color: rgb(204,214,246)

}

.footer a {
  color:#CCCCCC;
}

.footer a:hover {
  color: rgb(204,214,246);
}
@media only screen and (max-width:720px) {
  .footer-icon {
    height:15px
  }
}
